.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #0056b2;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #fff;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

.box {
  background-color: #fff;
  padding: 1rem !important;
  min-height: 100% !important;
  margin: 0 1rem !important;
}

#mydiv,
#mydiv2 {
  position: absolute;
  z-index: 9;
  text-align: l;
}

#mydivheader,
#mydivheader2 {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: #fff;
}

.box.box-rounded {
  color: black;
  border: 1px solid #0056b2;
  border-radius: 5px;
  box-shadow: 1px 1px 49px 0px rgba(132, 132, 132, 0.86);
}

.timeline {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.timeline .timeline-item {
  display: flex;
  flex-wrap: nowrap;
  margin: 15px 0;
}
.timeline .timeline-item .timeline-item__date {
  flex: 0 0 100px;
  max-width: 100px;
  padding: 5px 5px;
  text-align: center;
  color: #0056b2;
}
.timeline .timeline-item .timeline-item__body {
  position: relative;
  padding: 5px 0 0 20px;
}
.timeline .timeline-item .timeline-item__body > h4 {
  font-size: 1.2rem;
  color: #0056b2;
}
.timeline .timeline-item .timeline-item__body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  left: 0px;
  top: 26px;
  border-left: 1px solid #0056b2;
}
.timeline .timeline-item .timeline-item__body:after {
  content: "";
  position: absolute;
  display: block;
  left: -5px;
  top: 14px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #0056b2;
}
.timeline .timeline-item:last-of-type .timeline-item__body:before {
  display: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--maxlines);
  overflow: hidden;
}

.readmore {
  max-height: 120px;
  overflow: hidden;
  position: relative;
  transition: max-height cubic-bezier(0, 1, 0, 1) 500ms;
}
.readmore p:last-child {
  margin-bottom: 0;
}
.readmore::after {
  content: "";
  display: block;
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}
.readmore + button[data-toggle*=readmore] {
  display: block;
  position: relative;
  margin: 2px auto;
  z-index: 2;
  border: 2px solid #0056b2;
}
.readmore + button[data-toggle*=readmore]::after {
  content: "+ " attr(data-readmore);
}
.readmore.readmore--expanded {
  transition: max-height 0.8s ease-in-out;
  max-height: 5000px;
  height: auto;
}
.readmore.readmore--expanded::after {
  display: none;
}
.readmore.readmore--expanded button[data-toggle*=readmore]::after {
  content: "- " attr(data-readless);
}
.readmore.readmore--expanded button[data-toggle*=readmore].btn-lg {
  margin: 40px auto;
}
.readmore.readmore--expanded + button[data-toggle*=readmore]::after {
  content: "- " attr(data-readless);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}